.balloon-card {
  display: flex;
  align-items: center;
  border-radius: 15px;
  column-gap: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the card */

  &.left {
    flex-direction: row;
  }

  &.right {
    flex-direction: row-reverse;
  }

 

  .text-container {
    flex-grow: 1;
    background: linear-gradient(180deg, #0d0d0e -10%, #2e2e2e9c);
    padding: 20px;
    border-radius: 20px;
    width: 60%;

    .balloon-title {
      //
      color: #1A73B6;
      margin-bottom: 10px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .balloon-description {
      color: #ffffffb3; /* Subtle, less bright text */
      font-size: 1rem;
      &:hover{
        color: #fff;
      }
    }
  }
}
